<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="front-page.css" />
  </head>

  <body>
    <div class="whole-page"></div>
    <main>
      <header>
        <nav>
          <div class="logo">
            <img src="logo.png" alt="logo" />
          </div>
          <div class="header-line">
            <ul>
              <li class="header-content">Home</li>
              <li class="header-content">Resources</li>
              <li class="header-content">News</li>
              <li class="header-content">About</li>
            </ul>
            <div class="sign-in-button">
              <button class="left-button">
                <a href="/firstPage">LogIn</a>
              </button>
              <button class="right-button">
                <a href="/firstPage">SIgnup</a>
              </button>
            </div>
          </div>
        </nav>
      </header>
      <div class="middle-content">
        <div class="quote">Track Resources. Stay Informed. Be Prepared.!</div>
        <div>
          <button class="centre">
            <span> Get Started </span>
            <p>&#8594;</p>
          </button>
        </div>
      </div>
    </main>
  </body>
</html>
